ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: rgb(36 42 56);
    padding: 0 1.5rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}

.header__title {
    display: flex;
    align-items: center;
    width: max-content;
}

.header__title>svg {
    width: 28px;
    height: 28px;
    color: #fff;
}

.header__text {
    font-size: 1.2rem;
    font-weight: 800;
    margin-right: 0.7rem;
}

.header__items {
    display: flex;
    align-items: center;
}

.header__text-link {
    font-size: 1.1rem;
    font-weight: 800;
    margin-right: 2.5rem;
    padding: 1.3rem 0;
    display: inline-block;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.header__text-link:hover {
    border-top: 1px solid rgb(14 165 233);
    border-bottom: 1px solid rgb(14 165 233);
    color: rgb(14 165 233);
}

.active {
    border-top: 1px solid rgb(14 165 233);
    border-bottom: 1px solid rgb(14 165 233);
    color: rgb(14 165 233);
}